
<!DOCTYPE html>
<!---<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}">-->

<head>
	<style>
		div
		{
			margin-left: 270px;
		}
		
		h2
		{
			color: #4CAF50;
		}
		h3
		{
			color: #4CAF50;
		}
		input[type=submit] 
		{
		width: 10%;
		background-color: #4CAF50;
		color: white;
		padding: 8px 10px;
		margin: 3px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 20px;
		top: 0;
		right: 0;
		position: absolute;
		}
	</style>
</head>
<body>
	<div><h2> Output of links in the file: </h2></div>
	<h3> Download file</h3>
	<p>
	<a href="{{ url_for('.download_file') }}">Download</a>
	</p>
    {% for i in range(size) %}
    	<h4> Link: {{ lis[i] }}</h4>
       <h4> Predicted Flair: {{ lis_predicted[i] }}</h4>
       <h4> Actual Flair: {{ lis_actual[i] }}</h4>
       <br>
       <br>
    {% endfor %}
    <form action="{{ url_for('main') }}" method="POST">
				<input type="submit" name="home" value="Home">
	</form>

</body>